:root {
    --primary: #092635;
    --second: #1B4242;
    --third: #5C8374;
    --fourth: #9EC8B9;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

.barraNav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1B4242;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 2px 5px #5C8374;
}

.logo {
    width: 32%;
}

.menuStudent a {
    color: #9EC8B9;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

.menuStudent a:hover {
    color: white;
}